.buttonOpen {
  font-size: 40px;
  color: red;
  border: 0;
  background-color: aqua;
  padding: 20px;
  cursor: pointer;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modalBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 300px;
  background-color: white;
  border-radius: 20px;
  transform: scale(0.5);
  transition: 0.4s all;
}

.modalBlock.active {
  transform: scale(1);
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.modalContentInput {
  margin: 10px;
  width: 80%;
  height: 20px;
}